<ng-container *ngIf="menu.mainMenu$ | async as items">
  <div class="infline-flex md:hidden">
    <app-menu-button [(isOpen)]="menuOpen"></app-menu-button>

    <div
      *ngIf="menuOpen"
      class="
        origin-top-left
        absolute
        left-0
        mt-2
        w-48
        z-50
        my-4
        text-base
        list-none
        bg-white
        rounded
        divide-y divide-gray-100
        shadow
        dark:bg-gray-700 dark:divide-gray-600
      "
    >
      <app-main-menu-items></app-main-menu-items>
    </div>
  </div>

  <!-- <div
    class="
      hidden
      justify-between
      items-center
      w-full
      md:flex md:w-auto md:order-1
    "
  >
    <app-main-menu-items></app-main-menu-items>
  </div> -->
</ng-container>
