<div
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (mouseover)="isHover = !isHover"
  (mouseout)="isHover = !isHover"
>
  <div class="relative inline-block">
    <img
      *ngIf="user.picture; else noPicture"
      src="{{ user.picture }}"
      alt="Avatar"
      class="w-8 h-8 rounded-full border-2 border-white cursor-pointer"
    />

    <ng-template #noPicture class="relative inline-block">
      <div
        class="grid w-8 h-8 rounded-full border-2 border-white cursor-pointer"
        [ngStyle]="{ 'background-color': user.color }"
      >
        <span class="justify-self-center">{{ initials }}</span>
      </div>
    </ng-template>

    <span
      class="
        w-2
        h-2
        rounded-full
        border-2 border-white
        absolute
        bottom-0.5
        right-0.5
      "
      [ngClass]="user.status === 'online' ? 'bg-green-500' : 'bg-red-500'"
    ></span>
  </div>
</div>

<ng-template
  *ngIf="hover"
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isHover"
>
  <app-user-popover [user]="user"></app-user-popover>
</ng-template>
