<div class="ml-3 relative">
  <div>
    <button
      type="button"
      class="bg-gray-800 flex text-sm rounded-full"
      (click)="clicked()"
    >
      <span class="sr-only">Open user menu</span>
     
    </button>
  </div>

  <!--
  Dropdown menu, show/hide based on menu state.

  Entering: "transition ease-out duration-100"
    From: "transform opacity-0 scale-95"
    To: "transform opacity-100 scale-100"
  Leaving: "transition ease-in duration-75"
    From: "transform opacity-100 scale-100"
    To: "transform opacity-0 scale-95"
-->
  <div
    *ngIf="menu"
    class="
      origin-top-right
      fixed
      right-0
      w-1/3
      rounded-md
      shadow-lg
      py-1
      bg-white
      dark:bg-gray-800
      ring-1 ring-black ring-opacity-5
      focus:outline-none
    "
  >
    <app-menu
      [menu]="menu"
      [items]="profileMenu"
      [current]="location"
    ></app-menu>
  </div>
</div>
